

body{
  margin: 0;
  padding: 0;
  background-image: url("images/wall.jpg");
}

a{
  text-decoration: none;
  color: white;
  cursor: pointer;
}

h1, h2, h3, li{
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-stretch: condensed;
  margin: 0;
}
h4{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-weight: bold;
}
p{
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
ul{
  list-style-type: none;
}

button{
  font-family: 'Oswald', sans-serif;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/*Top Page*/
.wrapper{
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

/*Top Page - Shirik page*/
.shrink-page{
  transform: translateX(-50%);
}

/*Top Page - Header*/
.header{
  width: 100%;
  height: 120px;
  display: grid;
  grid-template-columns: 50% auto;
  background: black;
  position: fixed;
  top:0;
  z-index: 1000;
  font-size: 1.5rem;
}
.logo{
  width:100%;
  height: 100%;
  display: grid;
  place-items: center;
}
.menu-nav{
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-item{
  padding: 0 35px;
  border-right: solid 2px white;
}
.nav-item:last-child{
  border-right: 0;
}
.menu-btn{
  display: none;
}
.fa-bars{
  color: white;
  font-size: 2rem;
}

/*Top Page - Mobile Menu*/
.mobile-menu{
  width: 50%;
  height: 100%;
  background-color: black;
  right: -50%;
  top: 0;
  position: fixed;
  z-index: 2000;
}
.mobile-menu-nav{
  font-size: 1rem;
  padding: 0 20px;
}
.mobile-nav-item{
  padding: 10px 0;
}

.popup{
  display: block;
}

/*Top Page - Start Order Module*/
.start-order{
  width: 100%;
  background-color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  font-family: 'Roboto', sans-serif;
  top:120px;
  position: fixed;
  z-index: 800;
}
.delivery, .pick-up{
  width: 200px;
  height: 70px;
  padding: 10px 0;
  text-align: center;
  margin: 0 10px;
  color: white;
}
.start-order .or{
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 1.5rem;
  color: white;
}
.start-order{
  font-size: 2rem;
}
.delivery{
  background-color: #006492;
}
.pick-up{
  background-color: #e0183b;
}

/*Top Page - Carousel*/
.carousel, .carousel-slide, .banner, .carousel-image{
  height: 500px;
}
.carousel{
  width: 100%;
  margin-top: 250px;
  z-index: 0;
  position: relative;
}
.carousel-container{
  width: 100%;
  overflow: hidden;
}
.carousel-slide{
  width: 300%;
  left: 0px;
  display: flex;

}
.banner{
  width: 100vw;
  display: flex;
  justify-content: center;
}
.carousel-image{
  width: 65%;
  object-fit: cover;
}

.carousel-button-left, .carousel-button-right{
  border: transparent;
  outline: none;
  background: transparent;
  position: absolute;
  top: 45%;
  color: white;
}
.carousel-button-left{
  left:10%;
}
.carousel-button-right{
  right:10%;
}
.carousel .fas{
  font-size: 4rem;
}

/*Top Page - Middle Table*/
.middle-table{
  width: 100%;
  height: 100px;
}
.table{
  width: 100%;
  height: 100%;
}
.table-img{
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/*Top Page - Article*/
.articles{
  background-image: url("images/brick-wall.jpg");
  background-size: cover;
  box-shadow: 10px 10px 40px 30px black inset;
  display: flex;
  justify-content: center;
  align-items: center;
}
.article-container{
  max-width: 1024px;
  height: auto;
  margin: auto;
  padding: 10px;
}

.new-topics{
  width: 100%;
  padding-top: 20px;
  border-bottom: dashed 2px white;
}
.topics{
  width: 100%;
  height: auto;
}
.new-topics h3{
  font-size: 2rem;
  color: white;
  margin: 0;
}
.topics{
  text-align: center;
}
.topic{
  width: 30%;
  height: auto;
  background-color: #fffff3;
  border: solid 5px black;
  margin: 20px 10px;
  box-shadow: inset 5px 5px 5px black;
  display: inline-block;
  text-align: left;
}
.topic-container{
  width:90%;
  height: 100%;
  margin: 0 5%;
}
.topic-title, .topic-article, .topic-btn, .topic-img-banner{
  padding: 20px 5px 0 5px;;
}
.topic-title{
  font-size: 1.5rem;

}
.topic-img-banner{
  width: 100%;
}
.topic-img{
  width: 100%;
  object-fit: cover;
}
.see-details{
  background-color: #e0183b;
  color: white;
  padding: 5px 20px;
  border-radius: 10px;
  width: 100px;
  position: relative;
}

.important-notice{
  width: 100%;
  padding-bottom: 100px;
  color: white;
}
.notice-title h3{
  font-size: 2rem;
  border-bottom: dashed 2px white;
  padding-top: 20px;
}
.notice-list{
  margin: 10px 0 0 10px;
  font-size: 1.3rem;
}
.notice{
  text-decoration: underline;
}
/*Top Page - Footer*/
.footer{
  width: 100%;
  height: 300px;
  background:black;
  line-height: 300px;
}
.footer-logo{
  max-width: 350px;
  height: auto;
  margin: auto;
  text-align: center;
}
.footer-logo-img{
  object-fit: cover;
}


/*Delivery Page and Pick up Page*/
.delivery-title-container, .pickup-title-container{
  display: flex;
  justify-content: center;
  margin: 50px 0;
}
.delivery-title, .pickup-title{
  width: 70%;
  font-size: 1.3rem;
  text-align: left;
  bottom: 0;
  border-bottom: solid 2px white;
  color: white;
}
.order-form-container{
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
}
.order-form{
  width: 500px;
}

.delivery-time{
  display: flex;
}
.time-heading{
  width: 60%;
  background-color: #006492;
  color: white;
  padding: 5px 0 5px 10px;
  border-radius: 5px 0 0 5px;
}
.time-value{
  width: 40%;
  background-color: white;
  color: #e0183b;
  padding: 5px 0 5px 10px;
  border-radius: 0 5px 5px 0;
}
.order-intro{
  display: block;
  width: 100%;
}
.order-question{
  width: 100%;
  text-align: center;
  color: white;
  font-size: 1.3rem;
  padding: 20px 0;
}
.intro{
  color: white;
  text-align: center;
  width: 100%;
}
.asap{
  width: 100%;
  height: auto;
  font-size: 1.5rem;
  padding: 10px 0;
  text-align: center;
  background-color: #e0183b;
  color: white;
  position: relative;
  border-radius: 5px;
}

.order-or{
  width: 100%;
  text-align: center;
  height: auto;
  color: white;
  padding: 30px 0;
  font-size: 1.3rem;
}
.order-date-time{
  width: 100%;
}
.input-order-date, .input-order-time{
  width: 100%;
}
.date-title, .time-title{
  left: 0;
  color: white;
}
.order-date, .order-time{
  width: 100%;
  height: 40px;
  display: flex;
  margin-bottom: 15px;
}
.date-selector, .time-selector{
  font-size: 1.3rem;
  width: 90%;
}
.validation-container{;
  width: 10%;
  height: auto;
  background-color: white;
}
.date-mark, .time-mark{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.back-next-row{
  width: 100%;
  font-size: 1.5rem;
}
.back{
  background-color: #838383;
  float: left;
  position: relative;
  padding: 5px 5px 5px 20px;
  border-radius: 5px;
}
.next{
  background-color: #e0183b;
  float: right;
  position: relative;
  padding: 5px 20px 5px 5px;
  border-radius: 5px;
}
.asap:after, .next:after, .see-details:after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -6px;
    border: 6px solid transparent;
    border-left: 6px solid #fff;
}
.back:after{
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -6px;
  border: 6px solid transparent;
  border-right: 6px solid #fff;
}

/*Menu Page*/
.menu-main{
  max-width: 1574px;
  margin: auto;
  padding: 0 10px;
}
.menu-title-container{
  margin: 50px 0;
}
.menu-title{
  font-size: 1.3rem;
  text-align: left;
  bottom: 0;
  border-bottom: solid 2px white;
  color: white;
}
.recommend{
  width: 100%;
  height: 175px;
}
.recommend-container{
  width: 700px;
  height: 100%;
  margin: auto;
}
.recommend-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menu-wrapper{
  width: 100%;
  height: auto;
  position: relative;
  margin: auto auto 100px auto;
}
.menu-container{
  width: 100%;
  height: auto;
  margin: auto;
}
.beverage{
  padding-right: 270px;
}
.food-title, .drink-title{
  font-size: 2rem;
  border-bottom: solid 2px white;
  margin-top: 60px;
  color: white;
}
.food-list, .drink-list{
}
.food-article, .drink-article{
  display: inline-block;
  width: 24%;
  margin-top: 50px;
}
.food-img-banner, .drink-img-banner{
  width: 100%;
  height: 150px;
}
.menu-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.food-detail, .drink-detail{
  color: white;
  height: 100px;
  padding: 10px 0 0 10px;
}
.select-container{
  width: 100%;
}
.add-cart, .select-btn, .save-changes{
  width: 100%;
  height: auto;
  padding: 15px 0;
  text-align: center;
  background-color: #e0183b;
  color: white;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.cart-container{
  display: block;
  width: 270px;
  height: 100%;
  position: absolute;
  z-index: 50;
  top: 0;
  right: 0;
}
.cart{
  width: 270px;
  top: 0;
  z-index: 50;
}
.zigzag-top{
  height: 10px;
  background: url("images/zigzag-top.png");
}
.input-coupon{
  height: auto;
  background-color: #dedede;
  padding: 20px 5px;
  text-align: center;
  font-size: 1.3rem;
}
.coupon-code, .coupon-apply-btn{
  height: 30px;
  font-size: 1.2rem;
}
.coupon-code{
  width: 150px;
  border-radius: 5px;
}
.coupon-apply-btn{
  background-color: #e0183b;
  color: white;
  width: 80px;
  border-radius: 5px;
  border: none;
  font-stretch: condensed;
  text-transform: uppercase;
}

.order-details{
  background: white;
  height: auto;
  padding: 10px;
}
.order-beverages{
}
.order-beverages-details{
  padding: 10px 0;
  width: 100%;
  height: 100%;
  border-bottom: dashed 1px black;
}
.order-name-price{
  width: 100%;
  display: flex;
}
.order-name{
  width: 60%;
}
.order-price{
  text-align: right;
  width: 40%;
}
.remove-edit-container{
  margin-top: 5px;
  width: 100%;
}
.remove-btn{
  background: black;
  color: white;
  margin-right: 10px;
}
.edit-btn{
  background: #006E7F;
  color: white;
}
.tax{
  display: flex;
  padding: 10px 0;
}
.tax-title{
  width: 60%;
}
.tax-price{
  text-align: right;
  width: 40%;
}
.total-price{
  display: flex;
}
.total-title{
  width: 60%;
}
.total{
  text-align: right;
  width: 40%;
}
.zigzag-bottom{
  height: 10px;
  background: url("images/zigzag-bottom.png");
  transform: rotate(180deg);
}

.order-details-title, .tax, .total-price{
  color: black;
  font-stretch: condensed;
  margin-bottom: 20px;
}
.order-details-title{
  font-size: 1.7rem;
}
.tax{
  border-bottom: dashed 1px black;
}
.total-price{
  font-size: 1.5rem;
  border-bottom: dashed 1px black;
}
.total-amount{
  color: #006E7F;
}
.payment{
  width: 100%;
  height: auto;
  display: flex;
  text-align: center;
}

.payment-btn{
  width: 80%;
  height: auto;
  padding: 10px 0;
  background-color: #e0183b;
  color: white;
  margin: auto;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  border-radius: 5px;
}

.modal{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: linear 0.25s, opacity 0.25s 0s, transform 0.25s ease;
  z-index: 400;
}
.modal-content-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 50%;
  height: auto;
  border-radius: 0.5rem;
  z-index: 100;
  padding: 1rem 1.5rem;
}
.close-btn{
  font-size: 1.5rem;
  height: 10%;
  cursor: pointer;
}
.modal-content{
  width: 100%;
  height: 90%;
}
.modal-header{
  display: flex;
  font-size: 1.5rem;
}
.modal-product{
  width: 50%;
}
.modal-price{
  width: 50%;
  text-align: right;
}
.modal-img-container{
  width: 100%;
  height: 400px;
  margin: 10px 0;
}

.modal-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.modal-add-cart, .modal-edit-cart{
  display: flex;
  align-items: center;
}
.modal-edit-cart{
  display: none;
}

.quantity-container{
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.minus-btn-container, .plus-btn-container{
  width: 15%;
}
.input-count-container{
  width: 60%;
}

.input-count, .cart-count{
  height: 40px;
  width: 100%;
  border-radius: 10px;
}
.minus-btn, .plus-btn, .edit-minus-btn, .edit-plus-btn{
  height: 100%;
  width: 100%;
  font-size: 1.3rem;
  background-color: #dedede;
}
.add-cart-container, .save-changes-container{
  width: 70%;
  padding: 0 10px;
}
.mobile-cart-nav{
  display: none;
}


@media only screen and (max-width: 1023px){
/*Top Page*/
  .header{
    grid-template-columns: 32% auto;
    place-items: center;
  }
  .carousel-image{
    width: 80%;
  }.carousel-button-left{
    left:2%;
  }
  .carousel-button-right{
    right:2%;
  }.topic{
    width: 45%;
  }
/*Menu*/
  .food-article, .drink-article{
  width: 32%;
  }
  .input-count-container{
    width: 40%;
  }
}

@media only screen and (max-width: 690px){
/*Top Page*/
  .topic{
    width: 90%;
  }.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
  }.menu{
    display: none;
  }.menu-btn{
    display: block;
    position: relative;
    margin-right: 20px;
  }.start-order a{
    height: 40px;
  }.start-order{
    font-size: 1rem;
    top: 80px;
  }.carousel{
    margin-top: 180px;
  }.carousel, .carousel-slide, .banner, .carousel-image{
    height: 275px;
  }.carousel-image{
    width: 100%;
  }.carousel-button-left, .carousel-button-right{
    background: white;
    padding: 5px;
    border-radius: 10px;
  }.middle-table{
    height: 50px;
  }.carousel .fas{
    font-size: 2rem;
    color: #e0183b;
  }.carousel-button-left{
    left:0;
  }
  .carousel-button-right{
    right:0;
  }.carousel button{
    top: 45%;
  }.start-order .or{
    font-size: 1rem;
  }.footer-logo-img{
    width: 100%;
  }
/*Delivery and Pick Up HTML*/
  .order-form{
    width: 90vw;
  }.time-heading{
    width: 60%;
    padding: 5px 0 5px 10px;
  }.time-value{
    width: 40%;
    padding: 5px 0 5px 10px;
  }.back, .next{
    margin-bottom: 40px;
  }
/*Menu*/
  .recommend{
    width: 100%;
    height: 110px;
  }
  .recommend-container{
    width: 350px;
    height: 100%;
    margin: auto;
  }
  .food-article, .drink-article{
  width: 49%;
  }
  .beverage{
    padding-right: 0;
  }
  .select-btn{
    padding: 5px 0;
  }
  .cart-container{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition: linear 0.25s, opacity 0.25s 0s, transform 0.25s ease;
    z-index: 100;
    overflow: scroll;
  }
  .cart{
    position: absolute;
    top: 0;
    width: 90%;
    height: 100%;
    z-index: 200;
    transform: translate(5%);

  }
  .zigzag-top, .zigzag-bottom{
    display: none;
  }
  .payment{
    display: none;
  }
  .modal-content-container{
    width: 70%;
    padding: 1rem 1rem;
  }
  .modal-header{
    height: auto;
  }
  .modal-img-container{
    height: 200px;
  }
  .quantity-container{
    width: 50%;
  }
  .minus-btn-container, .plus-btn-container{
    width: 20%;
  }
  .input-count-container{
    width: 30%;
  }
  .add-cart-container, .save-changes-container{
    width: 50%;
    padding: 0 0 0 10px;
  }
  .mobile-cart-nav{
    display: block;
    background-color: rgba(0, 0, 0, 1);
    position: fixed;
    bottom: 0;
    height: 10%;
    width: 100%;
    z-index: 300;
  }
  .cart-nav-container{
    width: 100%;
    height: 100%;
    display: flex;
  }
  .place-order-container, .cart-total-container{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .place-order-btn{
    width: 95%;
    height: auto;
    padding: 15px 0;
    background-color: #e0183b;
    color: white;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    border-radius: 5px;
    text-align: center;
  }
  .cart-total-btn{
    width: 95%;
    height: auto;
    padding: 15px 0;
    background-color: #838383;
    color: white;
    text-transform: uppercase;
  }
  .cart-nav-text{
    font-size: 0.8rem;
    color: #dedede;
  }
  .cart-nav-price{
    font-size: 1.4rem;
  }
  .fa-shopping-cart{
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 374px){
  .recommend-container{
    width: 100%;
  }
  .food-article, .drink-article{
  width: 100%;
  }
}
